* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


img{
width: 100%;
}

main {
  padding: 0 50px;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

.rd3t-node text {
  stroke: white !important; /* Колір обведення білим */
  stroke-width: 0;

}

.rd3t-leaf-node text {
  stroke: white !important; /* Колір обведення білим */
  stroke-width: 0;
} 



